/* ANIMATED BUTTONS SECTION */

a {
  position: relative;
  padding: 20px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin: 40px;
  transition: 1s;
  text-decoration: none;
  overflow: hidden;
}

a:hover {
  background: var(--color);
  box-shadow: 0 0 10px var(--color), 0 0 30px var(--color), 0 0 60px var(--color), 0 0 10px var(--color);
  cursor: pointer;
}

a::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 400px;
  background: var(--color);
  transition: 1s;
  animation: border-spin 2s linear infinite;
  animation-delay: calc(0.33s * var(--i));
}

a:hover::before {
  width: 120%;
}

a::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #0e1538;
  transition: 0.5s;
}

a:hover::after {
  background: var(--color);
}

a span {
  position: relative;
  z-index: 1;
  font-size: 2em;
  color: aliceblue;
  opacity: 0.5;
  text-transform: uppercase;
  letter-spacing: 4px;
  transition: 0.5s;
}

a:hover span {
  opacity: 1;
}

@keyframes border-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
