@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #114674;
}

.container {
  position: relative;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container .serviceBox {
  position: relative;
  width: 350px;
  height: 280px;
  background: #1f70b6;
  border-radius: 20px;
  overflow: hidden;
}

.container .serviceBox .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .serviceBox:hover .icon {
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
